.login-container {
  height: 100vh;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  border-radius: 10px;
  position: relative;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
  border: 1px solid #ccc;
  z-index: 1;
}

.login-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 100%;
}

.login-button {
  background-color: #4a77f7;
  color: #fff;
  border: 1px solid transparent;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  color: #4a77f7;
  background-color: #fff;
  border: 1px solid #4a77f7;
}

.login-title {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}

.login-register {
  text-align: end;
  margin: 10px 0;
}

.login-route {
  margin-left: 5px;
  color: #4a77f7;
  text-decoration: none;
}
