.deneme-container {
  background-color: #ff0000;
}


.profile-friends-name {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: rgba(0, 0, 0, 0.644);
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 5px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.604);
}

.shadow-left {
  box-shadow: 0px 0px 200px 1px #6f6d6d40;
}

.container-friends {
  width: 380px;
  padding: 10px;
}

.profile-bg-friends {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.friend-status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.friend-status.isActive {
  background-color: rgb(19, 234, 19);
}

.friend-status.inactive {
  background-color: red;
}

.friend-status-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.friends-status {
  font-size: 14px;
  color: rgb(142, 141, 141);
}

.friends-status.Online {
  font-size: 14px;
}

.friends-status.Offline {
  font-size: 14px;
  color: red;
}

.mobile-none {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .friends-profile-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgb(247, 246, 246); /* Semi-transparent background */
    display: flex;
    z-index: 1000; /* Ensure it's on top of other elements */
    overflow: hidden;
  }

  .header-close-icon{
    margin: 10px 10px 5px 10px;
  }

  .container-friends{
    padding: 10px;
    width: 100vw;
  }
  
  .mobile-none {
    display: block !important;
  }
}
