.profile-container {
  position: relative;
  margin-bottom: 50px;
}

.profile-bg {
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.profile-image {
  border: 5px solid rgb(234, 234, 241);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Gölge efekti */
}

.profile-name {
  margin-bottom: 0;
  text-align: center;
}

.shadow-line {
  background-color: rgba(128, 128, 128, 0.245);
  height: 1px;
}

.profile-job {
  color: rgba(73, 80, 87, 0.75);
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  display: block;
}

.profile-about {
  font-size: 14px;
  color: rgba(73, 80, 87, 0.75);
  font-weight: 400;
}


.icon-container{
  overflow: auto;
}

.icon-wrapper {
  display: flex;
  margin-bottom: 5px;
  padding: 5px 10px ;
  gap: 8px;
  align-items: center;
}


.icon-wrapper:hover {
  color: #222121f5; 
}



.icon-wrapper .icon{
  font-size: 22px;
  color: #495057bf;
  cursor: pointer;
}


.icon:hover {
  text-decoration: underline;
  color: #222121f5;
}

.social-link{
  font-size: 14px;
  color: rgba(73, 80, 87, 0.75);
  font-weight: 400;
  white-space: nowrap; /* Metni tek satıra yerleştirir */
  overflow: hidden; /* Taşan metni gizler */
  text-overflow: ellipsis; /* Taşan metnin sonuna '...' ekler */
  max-width: 250px; /* Maksimum genişliği belirleyin */
  text-decoration: none;
}

.social-link:hover {
  cursor: pointer;
  color: black; 
}

@media screen and (max-width: 768px) {

  .social-link{
  max-width: 80vw;
}
}