/* Scroll bar stilleri */
.main-chat::-webkit-scrollbar {
  width: 6px;
  opacity: 0; /* Başlangıçta scroll bar'ı gizle */
  transition: opacity 0.3s; /* Yumuşak geçiş efekti */
}

.main-chat::-webkit-scrollbar-track {
  border-radius: 10px;
}

.main-chat::-webkit-scrollbar-thumb {
  border-radius: 10px;
  transition: background 0.3s; /* Yumuşak geçiş efekti */
}

/* Scroll bar üzerine geldiğinde görünmesini sağla */
.main-chat:hover::-webkit-scrollbar {
  opacity: 1; /* Scroll bar'ı göster */
}

.main-chat:hover::-webkit-scrollbar-thumb {
  background: #555555c1; /* Üzerine gelindiğinde scroll bar rengi değişsin */
}

/* İçeriğe odaklanıldığında scroll bar görünmesini sağla */
.main-chat:focus-within::-webkit-scrollbar {
  opacity: 1; /* Scroll bar'ı göster */
}

.main-chat:focus-within::-webkit-scrollbar-thumb {
  background: #555; /* Üzerine gelindiğinde scroll bar rengi değişsin */
}


/* Chat input için scroll bar stilleri */
.chat-search-input::-webkit-scrollbar {
  background-color: transparent; /* Arka planı şeffaf yap */
}

.chat-search-input::-webkit-scrollbar-track {
  background-color: transparent; /* Arka planı şeffaf yap */
}

.chat-search-input::-webkit-scrollbar-thumb {
  background-color: transparent; /* Thumb kısmı şeffaf gri */
  transition: background 0.3s; /* Yumuşak geçiş efekti */
}

/* Scroll bar üzerine geldiğinde görünmesini sağla */
.chat-search-input:hover::-webkit-scrollbar {
  opacity: 1; /* Scroll bar'ı göster */
}

.chat-search-input:hover::-webkit-scrollbar-thumb {
  background-color: transparent; /* Üzerine gelindiğinde daha belirgin hale gelsin */
}

/* İçeriğe odaklanıldığında scroll bar görünmesini sağla */
.chat-search-input:focus::-webkit-scrollbar {
  opacity: 1; /* Scroll bar'ı göster */
}

.chat-search-input:focus::-webkit-scrollbar-thumb {
  background-color: transparent; /* Üzerine gelindiğinde scroll bar rengi değişsin */
}


/* Scroll bar stilleri */
body::-webkit-scrollbar {
  width: 6px;
  opacity: 0; /* Başlangıçta scroll bar'ı gizle */
  transition: opacity 0.3s; /* Yumuşak geçiş efekti */
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  transition: background 0.3s; /* Yumuşak geçiş efekti */
}

/* Scroll bar üzerine geldiğinde görünmesini sağla */
body:hover::-webkit-scrollbar {
  opacity: 1; /* Scroll bar'ı göster */
}

body:hover::-webkit-scrollbar-thumb {
  background: #555555c1; /* Üzerine gelindiğinde scroll bar rengi değişsin */
}

/* İçeriğe odaklanıldığında scroll bar görünmesini sağla */
body:focus-within::-webkit-scrollbar {
  opacity: 1; /* Scroll bar'ı göster */
}

body:focus-within::-webkit-scrollbar-thumb {
  background: #555; /* Üzerine gelindiğinde scroll bar rengi değişsin */
}