.profile-settings-bg {
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.profile-container {
  position: relative;
}

.profile-settings-image {
  border: 5px rgb(234, 234, 241) solid;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: -40px; /* Resmin yarısının alt kısımda olmasını sağlıyoruz */
  left: 50%;
  transform: translateX(-50%); /* Resmi tam ortalamak için */
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Gölge efekti */

}

.camera-icon-bg .icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 15px 0; /* Daire görünümü */
  margin: 10px;
  text-align: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 24px; /* İkon boyutu */
  color: rgb(0, 0, 0); /* İkon rengi */
  cursor: pointer;
  background-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* Arka plan rengi (yarı şeffaf) */
  padding: 4px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.camera-icon-profil {
  position: absolute;
  left: 50%;
  transform: translate(+45%, +50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.837);
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.camera-icon-profil .icon {
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.camera-icon-profil .icon:hover {
  color: #007bff;
}

.camera-icon-bg .icon:hover {
  color: #007bff;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 4px 10px 10px;
  overflow-y: auto;
}

.form-container-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.form-control-settings {
  font-size: 14px; /* Yazı boyutunu küçült */
  padding: 6px 10px; /* İç boşluğu azalt */
  height: 30px; /* Yüksekliği küçült */
}

.form-container-textarea {
  font-size: 14px; /* Yazı boyutunu küçült */
  padding: 6px 10px; /* İç boşluğu azalt */
  height: 80px; /* Yüksekliği küçült */
}

/* Normal buton hover efekti */
.form-container-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Disabled (pasif) buton stili */
.form-container-button:disabled {
  background-color: #8c8c8c;  /* Daha koyu gri */
  border-color: #707070;     /* Daha koyu gri sınır */
  cursor: not-allowed;
}

/* Disabled buton hover efekti (kapalı renk) */
.form-container-button:disabled:hover {
  background-color: #8c8c8c;  /* Koyu gri kalacak */
  border-color: #707070;     /* Koyu gri sınır kalacak */
}

