/* Overlay */
.modal-overlay {
  position: absolute; /* Sabit konumlandırma */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; /* Flexbox ile ortalama */
  justify-content: center; /* Yatayda ortalar */
  z-index: 100000!important;
  backdrop-filter: blur(3px); /* Bulanıklık efekti */
  -webkit-backdrop-filter: blur(3px); /* Safari desteği */
}

/* Modal İçeriği */
.modal-container {
  position: relative;
  margin-top: 40px;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 8px;
  text-align: right;
  border: 1px solid rgba(227, 146, 146, 0.081);
  animation: slideDown 0.5s ease-out; /* Açılırken animasyon */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 400px;
  height: min-content;
  max-height: 400px; /* Maksimum yükseklik */
  overflow-y: auto; /* İçerik fazla olduğunda kaydırma çubuğu ekle */
}

/* Kapanırken animasyon eklemek için */
.modal-container.closing {
  animation: slideUp 0.5s ease-in-out forwards; /* Kapanırken animasyon */
}

.modal-close-button:hover {
  color:#000000;
}

/* Hata Mesajı */
.modal-error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

/* Kullanıcı Listesi */
.modal-user-list {
  margin: 0;
  animation: slideDown 0.3s ease-in-out;
}

.modal-user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  border: 1px solid #ccc;
  background-color: #9a989827;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-user-item:hover {
  background-color: rgb(181, 216, 255);
}

/* Profil Fotoğrafı */
.modal-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

/* Arama Kutusu */
.modal-search-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* Animasyon */
@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-100px); /* Yukarıdan başla */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* Normal pozisyona gel */
  }
}
@keyframes slideUp {
  from {
      opacity: 1;
      transform: translateY(0); /* Normal pozisyon */
  }
  to {
      opacity: 0;
      transform: translateY(-120px); /* Yukarıya kaydır */
  }
}


/* Arkadaş Ekleme Butonu */
.modal-friends-add-button {
  text-align: center;
  border-radius: 5px;
  background-color: #8888887d;
  height: 30px;
  width: 30px;
  font-size: 14px !important;
  padding: 2px;
}

.modal-friends-add-button:hover {
  background-color: #888888;
}

.modal-friends-close-button{
  display: flex;
  cursor: pointer;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  background-color: #8888887d;
  height: 30px;
  width: 30px;
  font-size: 14px !important;
  padding: 2px;
  top: 20px;
  right:10px;
}

/* Kullanıcı Elemanları */
.modal-user-item-div {
  display: flex;
  align-items: center;
}

.modal-title{
  margin-bottom: 10px;
  font-size: large;
}

@media (max-width: 768px) {
  
}

.modal-container.searching {
  height: auto; /* İçeriğe göre boyutlandır */
  transition: height 0.3s ease-out; /* Yüksekliği yavaşça büyüt */
}