.Mymessages-container {
  display: flex;
  flex-direction: column; /* Vertical düzen için flex yönünü dikey yapıyoruz */
  height: 100vh; /* Ekranın tamamını kapsayacak şekilde yükseklik veriyoruz */
}

.Mymessages-title {
  font-size: x-large;
  color: #555;
}

.Mymessages-add {
  display: flex; /* Flexbox kullanarak öğeleri yatayda hizalar */
  justify-content: space-between; /* Yazıyı sola, ikonu sağa yerleştirir */
  align-items: center; /* Yükseklik açısından ortalar */
  margin: 25px 10px 10px 15px;
}

.Mymessages-icon {
  background-color: rgba(78, 172, 109, 0.1);
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.search-container {
  display: flex; /* Flexbox ile input ve ikon yatayda hizalanır */
  align-items: center; /* İkonu ve input'u dikeyde ortalar */
  position: relative; /* İkonun input'un içinde doğru konumlandırılması için */
  margin: 10px;
}

.search-input {
  padding: 10px 40px 10px 10px; /* Sağda ikon için padding */
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #55555518;
}

.search-icon {
  position: absolute;
  right: 10px; /* İkonu sağa yerleştirir */
  font-size: 18px;
  color: #aaa; /* İkonun rengi */
  cursor: pointer;
}

.search-input:focus {
  outline: none;
  border-color: #007bff; /* Input focus olduğunda sınır rengi değişir */
}

.search-icon:hover {
  color: #007bff; /* İkon üzerine gelindiğinde renk değişir */
}

.messages-blog {
  display: flex;
  background-color: #9a98980a; 
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.messages-blog:hover {
  background-color: rgb(181, 216, 255);
}

.messages-detail {
  font-size: 14px;
  white-space: nowrap; /* Metnin tek satırda kalmasını sağlar */
  overflow: hidden; /* Taşan metni gizler */
  text-overflow: ellipsis; /* Taşan metni "..." ile gösterir */
}

/* Mesajlar kısmı kaydırılabilir olacak şekilde */
.messages-list {
  flex: 1; /* Ekrandaki kalan alanı alır */
  overflow-y: auto; /* Yalnızca dikey kaydırma çubuğu ekler */
  max-height: calc(100vh - 150px); /* Mesajlar kısmının yüksekliğini ayarlıyoruz (başlık ve arama barı hariç) */
}

/* Scroll bar stilleri */
.messages-list::-webkit-scrollbar {
  width: 6px;
}

.messages-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.messages-list::-webkit-scrollbar-thumb {
  background: #888888a7;
  border-radius: 10px;
}

.messages-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
