
.search-container {
    display: flex; /* Flexbox ile input ve ikon yatayda hizalanır */
    align-items: center; /* İkonu ve input'u dikeyde ortalar */
    position: relative; /* İkonun input'un içinde doğru konumlandırılması için */
  }