
.search-container {
    display: flex; /* Flexbox ile input ve ikon yatayda hizalanır */
    align-items: center; /* İkonu ve input'u dikeyde ortalar */
    position: relative; /* İkonun input'un içinde doğru konumlandırılması için */
  }

  
.search-icon {
  position: absolute;
  right: 10px; /* İkonu sağa yerleştirir */
  font-size: 18px;
  color: #aaa; /* İkonun rengi */
  cursor: pointer;
}

.search-input:focus {
  outline: none;
  border-color: #007bff; /* Input focus olduğunda sınır rengi değişir */
}

.search-icon:hover {
  color: #007bff; /* İkon üzerine gelindiğinde renk değişir */
}