.is-read {
  stroke-width: 0.7px; /* Çizgi kalınlığını artır (bazı ikonlar destekler) */
  color: #419df9;
  font-size: 13px;
}

.is-read-gray {
  stroke-width: 0.7px; /* Çizgi kalınlığını artır (bazı ikonlar destekler) */
  color: #555;
  font-size: 13px;
}
