.chat-img-me {
  border-radius: 50%;
  object-fit: cover;
  object-position: top; /* Resmin üst kısmını göstermek için */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 50px;
  width: 50px;
}

.chat-img-me.loaded {
  opacity: 1;
}


.chat-img-me.loading {
  opacity: 0;
}

.chat-img-me.loaded {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.status-light {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid white; /* Dış çerçeve */
}

.status-light.active {
  background-color: rgb(19, 234, 19);
}

.status-light.inactive {
  background-color: red;
}


